In [1]:
import pandas as pd

In [2]:
raw_data = pd.read_csv("./data/Absenteeism_data.csv")

In [3]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   ID                         700 non-null    int64
 1   Reason for Absence         700 non-null    int64
 2   Date                       700 non-null    object
 3   Transportation Expense     700 non-null    int64
 4   Distance to Work           700 non-null    int64
 5   Age                        700 non-null    int64
 6   Daily Work Load Average    700 non-null    float64
 7   Body Mass Index            700 non-null    int64
 8   Education                  700 non-null    int64
 9   Children                   700 non-null    int64
 10  Pets                       700 non-null    int64
 11  Absenteeism Time in Hours  700 non-null    int64
dtypes: float64(1), int64(10), object(1)
memory usage: 65.8+ KB

In [4]:
pd.options.display.max_columns = None
#pd.options.display.max_rows = None
display(raw_data)

,ID,Reason for Absence,Date,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours
0,11,26,07/07/2015,289,36,33,239.554,30,1,2,1,4
1,36,0,14/07/2015,118,13,50,239.554,31,1,1,0,0
2,3,23,15/07/2015,179,51,38,239.554,31,1,0,0,2
3,7,7,16/07/2015,279,5,39,239.554,24,1,2,0,4
4,11,23,23/07/2015,289,36,33,239.554,30,1,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...
695,17,10,23/05/2018,179,22,40,237.656,22,2,2,0,8
696,28,6,23/05/2018,225,26,28,237.656,24,1,1,2,3
697,18,10,24/05/2018,330,16,28,237.656,25,2,0,0,8
698,25,23,24/05/2018,235,16,32,237.656,25,3,0,0,2
699,15,28,31/05/2018,291,31,40,237.656,25,1,1,1,2

In [5]:
raw_data = raw_data.drop(axis=1, columns="ID")

In [6]:
dummies = pd.get_dummies(raw_data["Reason for Absence"], drop_first=True)

In [7]:
# 1-14  = diseases
# 15-17 = pregnancy and giving birth
# 18-21 = poisoning and co. 
# 22-28 = light reasons

In [8]:
absence_diseases = dummies.loc[:,:14].max(axis=1)
absence_pregnancy = dummies.loc[:,15:17].max(axis=1)
absence_poisoning = dummies.loc[:,18:21].max(axis=1)
absence_light_reasons = dummies.loc[:,22:].max(axis=1)

In [9]:
absence_diseases.head()

0    0
1    0
2    0
3    1
4    0
dtype: uint8

In [10]:
data = raw_data

In [11]:
data["Absence diseases"]= absence_diseases
data["Absence pregnancy"]= absence_pregnancy
data["Absence poisoning"]= absence_poisoning
data["Absence light reasons"]= absence_light_reasons

In [12]:
data['DateTime'] = pd.to_datetime(data['Date'])
data['Month'] = data['DateTime'].dt.month
data['Weekday'] = data['DateTime'].dt.weekday
data = data.drop(axis=1, columns=["Date","DateTime","Reason for Absence"])

In [13]:
b = []
for value in data["Education"]:
    if value >= 2:
        b.append(1)
    else:
        b.append(0)
data["Education"]=b

In [14]:
data.to_csv("./data/prep.csv")
data.head()

,Transportation Expense,Distance to Work,Age,Daily Work Load Average,Body Mass Index,Education,Children,Pets,Absenteeism Time in Hours,Absence diseases,Absence pregnancy,Absence poisoning,Absence light reasons,Month,Weekday
0,289,36,33,239.554,30,0,2,1,4,0,0,0,1,7,1
1,118,13,50,239.554,31,0,1,0,0,0,0,0,0,7,1
2,179,51,38,239.554,31,0,0,0,2,0,0,0,1,7,2
3,279,5,39,239.554,24,0,2,0,4,1,0,0,0,7,3
4,289,36,33,239.554,30,0,2,1,2,0,0,0,1,7,3